services: 
    mysql:
        image: mysql:8.0.27
        container_name: onclass-db-mysql
        env_file:
            - ./db/configmap-dev.env
        ports:
            - "3306:3306"
        networks: 
            - onclass-network

    flyway:
        image: flyway/flyway
        command: -connectRetries=60 migrate
        volumes:
            - ./flyway-docker/sql:/flyway/sql
            - ./flyway-docker/config:/flyway/conf
        depends_on:
            - mysql
        networks: 
            - onclass-network

    dotnet:
        build: 
            dockerfile: ./src/OnClass.API/Dockerfile
            context: .
        image: onclass-backend
        container_name: onclass-back
        env_file:
            - ./src/OnClass.API/configmap-dev.env
        ports:
            - "25100"
        networks: 
            - onclass-network
        depends_on:
            - "mysql"    

networks: 
    onclass-network:
        driver: bridge